---
version: 2
updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: daily
      time: "03:00"
    ignore:
      - dependency-name: "io.lettuce:lettuce-core"
        # lettuce v7 needs refactoring on our end
        versions:
          - ">= 7"
    open-pull-requests-limit: 10
    labels:
      - dependencies
      - govuk-pay
      - java
  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: daily
      time: "03:00"
    ignore:
      - dependency-name: "eclipse-temurin"
        versions:
          - "> 25"
    open-pull-requests-limit: 10
    labels:
      - dependencies
      - govuk-pay
      - docker
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
      time: "03:00"
    open-pull-requests-limit: 0
    labels:
      - dependencies
      - govuk-pay
      - github_actions
