server:
  applicationConnectors:
    - type: http
      port: ${PORT}
  adminConnectors:
    - type: http
      port: ${ADMIN_PORT}

logging:
  level: INFO

connectorUrl: ${CONNECTOR_URL}
publicAuthUrl: ${PUBLIC_AUTH_URL}

jerseyClientConfig:
  disabledSecureConnection: ${DISABLE_INTERNAL_HTTPS}
