{
  "swagger" : "2.0",
  "info" : {
    "description" : "GOV.UK Pay Api",
    "version" : "1.0.0",
    "title" : "GOV.UK Pay Api"
  },
  "host" : "publicapi.pymnt.uk",
  "schemes" : [ "https" ],
  "paths" : {
    "/v1/payments" : {
      "get" : {
        "summary" : "Search payments",
        "description" : "Search payments by reference, status, 'from' and 'to' date",
        "operationId" : "searchPayments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "reference",
          "in" : "query",
          "description" : "Your payment reference to search",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Status of payments to be searched. Example=SUCCESSED",
          "required" : false,
          "type" : "string",
          "enum" : [ "range[SUCCEEDED", "CREATED", "IN PROGRESS", "FAILED", "SYSTEM CANCELLED" ]
        }, {
          "name" : "from_date",
          "in" : "query",
          "description" : "From date of payments to be searched. Example=2015-08-13T12:35:00Z",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "to_date",
          "in" : "query",
          "description" : "To date of payments to be searched. Example=2015-08-13T12:35:00Z",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Payment"
            }
          },
          "401" : {
            "description" : "Credentials are required to access this resource"
          },
          "422" : {
            "description" : "fields [from_date, to_date, status] are not in correct format. see public api documentation for the correct data formats"
          },
          "500" : {
            "description" : "Search payments failed"
          }
        }
      },
      "post" : {
        "summary" : "Create new payment",
        "description" : "Create a new payment for the account associated to the Authorisation token",
        "operationId" : "newPayment",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "requestPayload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CreatePaymentRequest"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "schema" : {
              "$ref" : "#/definitions/PaymentWithLinks"
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "401" : {
            "description" : "Credentials are required to access this resource"
          }
        }
      }
    },
    "/v1/payments/{paymentId}" : {
      "get" : {
        "summary" : "Find payment by ID",
        "description" : "Return information about the payment",
        "operationId" : "getPayment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/PaymentWithLinks"
            }
          },
          "401" : {
            "description" : "Credentials are required to access this resource"
          },
          "404" : {
            "description" : "Not found"
          }
        }
      }
    },
    "/v1/payments/{paymentId}/cancel" : {
      "post" : {
        "summary" : "Cancel payment",
        "description" : "Cancel a payment based on the provided payment ID and the Authorisation token",
        "operationId" : "cancelPayment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Payment cancellation failed"
          },
          "401" : {
            "description" : "Credentials are required to access this resource"
          }
        }
      }
    },
    "/v1/payments/{paymentId}/events" : {
      "get" : {
        "summary" : "Return payment events by ID",
        "description" : "Return payment events information about a certain payment",
        "operationId" : "getPaymentEvents",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Payment"
            }
          },
          "401" : {
            "description" : "Credentials are required to access this resource"
          },
          "404" : {
            "description" : "Not found"
          }
        }
      }
    }
  },
  "definitions" : {
    "CreatePaymentRequest" : {
      "type" : "object",
      "required" : [ "amount", "description", "reference", "return_url" ],
      "properties" : {
        "amount" : {
          "type" : "integer",
          "format" : "int32",
          "example" : "12000",
          "description" : "amount in pence",
          "readOnly" : true,
          "minimum" : 1.0,
          "maximum" : 1.0E7
        },
        "reference" : {
          "type" : "string",
          "example" : "12345",
          "description" : "payment reference",
          "readOnly" : true
        },
        "description" : {
          "type" : "string",
          "example" : "New passport application",
          "description" : "payment description",
          "readOnly" : true
        },
        "return_url" : {
          "type" : "string",
          "example" : "https://service-name.gov.uk/transactions/12345",
          "description" : "service return url",
          "readOnly" : true,
          "minLength" : 0,
          "maxLength" : 2000
        }
      },
      "description" : "The Payment Request Payload"
    },
    "JsonNode" : {
      "type" : "object",
      "properties" : {
        "array" : {
          "type" : "boolean",
          "default" : false
        },
        "null" : {
          "type" : "boolean",
          "default" : false
        },
        "int" : {
          "type" : "boolean",
          "default" : false
        },
        "nodeType" : {
          "type" : "string",
          "enum" : [ "ARRAY", "BINARY", "BOOLEAN", "MISSING", "NULL", "NUMBER", "OBJECT", "POJO", "STRING" ]
        },
        "float" : {
          "type" : "boolean",
          "default" : false
        },
        "number" : {
          "type" : "boolean",
          "default" : false
        },
        "valueNode" : {
          "type" : "boolean",
          "default" : false
        },
        "object" : {
          "type" : "boolean",
          "default" : false
        },
        "containerNode" : {
          "type" : "boolean",
          "default" : false
        },
        "missingNode" : {
          "type" : "boolean",
          "default" : false
        },
        "pojo" : {
          "type" : "boolean",
          "default" : false
        },
        "integralNumber" : {
          "type" : "boolean",
          "default" : false
        },
        "floatingPointNumber" : {
          "type" : "boolean",
          "default" : false
        },
        "short" : {
          "type" : "boolean",
          "default" : false
        },
        "long" : {
          "type" : "boolean",
          "default" : false
        },
        "double" : {
          "type" : "boolean",
          "default" : false
        },
        "bigDecimal" : {
          "type" : "boolean",
          "default" : false
        },
        "bigInteger" : {
          "type" : "boolean",
          "default" : false
        },
        "textual" : {
          "type" : "boolean",
          "default" : false
        },
        "boolean" : {
          "type" : "boolean",
          "default" : false
        },
        "binary" : {
          "type" : "boolean",
          "default" : false
        }
      }
    },
    "Payment" : {
      "type" : "object",
      "properties" : {
        "payment_id" : {
          "type" : "string",
          "example" : "hu20sqlact5260q2nanm0q8u93",
          "readOnly" : true
        },
        "payment_provider" : {
          "type" : "string",
          "example" : "worldpay",
          "readOnly" : true
        },
        "amount" : {
          "type" : "integer",
          "format" : "int64",
          "example" : "1200",
          "readOnly" : true
        },
        "status" : {
          "type" : "string",
          "example" : "CREATED",
          "readOnly" : true
        },
        "description" : {
          "type" : "string",
          "example" : "Your Service Description",
          "readOnly" : true
        },
        "return_url" : {
          "type" : "string",
          "example" : "http://your.service.domain/your-reference",
          "readOnly" : true
        },
        "reference" : {
          "type" : "string",
          "example" : "your-reference",
          "readOnly" : true
        },
        "created_date" : {
          "type" : "string",
          "example" : "2016-01-21T17:15:00Z",
          "readOnly" : true
        }
      },
      "description" : "A Payment"
    },
    "PaymentWithLinks" : {
      "type" : "object",
      "properties" : {
        "_links" : {
          "readOnly" : true,
          "$ref" : "#/definitions/paymentLinks"
        },
        "status" : {
          "type" : "string",
          "example" : "CREATED",
          "readOnly" : true
        },
        "reference" : {
          "type" : "string",
          "example" : "your-reference",
          "readOnly" : true
        },
        "description" : {
          "type" : "string",
          "example" : "Your Service Description",
          "readOnly" : true
        },
        "created_date" : {
          "type" : "string",
          "example" : "2016-01-21T17:15:00Z",
          "readOnly" : true
        },
        "payment_id" : {
          "type" : "string",
          "example" : "hu20sqlact5260q2nanm0q8u93",
          "readOnly" : true
        },
        "payment_provider" : {
          "type" : "string",
          "example" : "worldpay",
          "readOnly" : true
        },
        "amount" : {
          "type" : "integer",
          "format" : "int64",
          "example" : "1200",
          "readOnly" : true
        },
        "return_url" : {
          "type" : "string",
          "example" : "http://your.service.domain/your-reference",
          "readOnly" : true
        }
      },
      "description" : "A Payment with links"
    },
    "paymentLink" : {
      "type" : "object",
      "properties" : {
        "href" : {
          "type" : "string",
          "example" : "https://an.example.link/from/payment/platform"
        },
        "method" : {
          "type" : "string",
          "example" : "GET"
        },
        "type" : {
          "type" : "string",
          "example" : "multipart/form-data"
        },
        "params" : {
          "example" : "\"description\":\"This is a value for description\"",
          "$ref" : "#/definitions/JsonNode"
        }
      },
      "description" : "A link related to a payment"
    },
    "paymentLinks" : {
      "type" : "object",
      "properties" : {
        "self" : {
          "description" : "self",
          "$ref" : "#/definitions/paymentLink"
        },
        "next_url" : {
          "description" : "next_url",
          "$ref" : "#/definitions/paymentLink"
        },
        "next_url_post" : {
          "description" : "next_url_post",
          "readOnly" : true,
          "$ref" : "#/definitions/paymentLink"
        }
      },
      "description" : "Resource links of a Payment"
    }
  }
}