{
  "swagger" : "2.0",
  "info" : {
    "description" : "GOV.UK Pay Api",
    "version" : "1.0.0",
    "title" : "GOV.UK Pay Api"
  },
  "host" : "publicapi-integration-1.pymnt.uk",
  "schemes" : [ "https" ],
  "paths" : {
    "/v1/payments" : {
      "post" : {
        "summary" : "Creates a new payment",
        "description" : "Creates a new payment for the account associated to the Authorisation token",
        "operationId" : "newPayment",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "requestPayload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CreatePaymentRequest"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "schema" : {
              "$ref" : "#/definitions/Payment information"
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "401" : {
            "description" : "Credentials are required to access this resource"
          }
        }
      }
    },
    "/v1/payments/{paymentId}" : {
      "get" : {
        "summary" : "Find a Payment by ID",
        "description" : "Return information about the payment",
        "operationId" : "getPayment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Payment information"
            }
          },
          "401" : {
            "description" : "Credentials are required to access this resource"
          },
          "404" : {
            "description" : "Not found"
          }
        }
      }
    },
    "/v1/payments/{paymentId}/cancel" : {
      "post" : {
        "summary" : "Cancels a payment",
        "description" : "Cancels a payment based on the provided payment ID and the Authorisation token",
        "operationId" : "cancelPayment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Payment cancellation failed"
          },
          "401" : {
            "description" : "Credentials are required to access this resource"
          }
        }
      }
    },
    "/v1/payments/{paymentId}/events" : {
      "get" : {
        "summary" : "Return a Payment Events by ID",
        "description" : "Return Payment Events information about a certain payment",
        "operationId" : "getPaymentEvents",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Payment information"
            }
          },
          "401" : {
            "description" : "Credentials are required to access this resource"
          },
          "404" : {
            "description" : "Not found"
          }
        }
      }
    }
  },
  "definitions" : {
    "CreatePaymentRequest" : {
      "type" : "object",
      "required" : [ "amount", "description", "reference", "return_url" ],
      "properties" : {
        "amount" : {
          "type" : "integer",
          "format" : "int64",
          "example" : "12000",
          "description" : "amount in pence",
          "readOnly" : true
        },
        "reference" : {
          "type" : "string",
          "example" : "12345",
          "description" : "payment reference",
          "readOnly" : true
        },
        "description" : {
          "type" : "string",
          "example" : "New passport application",
          "description" : "payment description",
          "readOnly" : true
        },
        "account_id" : {
          "type" : "string",
          "example" : "789",
          "description" : "account id",
          "readOnly" : true
        },
        "return_url" : {
          "type" : "string",
          "example" : "https://service-name.gov.uk/transactions/12345",
          "description" : "service return url",
          "readOnly" : true
        }
      },
      "description" : "The Payment Request Payload"
    },
    "JsonLink" : {
      "type" : "object",
      "properties" : {
        "rel" : {
          "type" : "string",
          "example" : "self"
        },
        "method" : {
          "type" : "string",
          "example" : "GET"
        },
        "href" : {
          "type" : "string",
          "example" : "http://payments.gov.uk/v1/payments/1122335"
        }
      }
    },
    "Payment information" : {
      "type" : "object",
      "properties" : {
        "links" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/JsonLink"
          }
        },
        "amount" : {
          "type" : "integer",
          "format" : "int64",
          "example" : "1200"
        },
        "status" : {
          "type" : "string",
          "example" : "CREATED"
        },
        "description" : {
          "type" : "string",
          "example" : "New Passport Application"
        },
        "returnUrl" : {
          "type" : "string",
          "example" : "http://government.service.domain/transaction/1"
        },
        "reference" : {
          "type" : "string",
          "example" : "12345"
        },
        "payment_id" : {
          "type" : "string",
          "example" : "1122335",
          "readOnly" : true
        }
      },
      "description" : "A Payment description"
    }
  }
}